*{
    background-color:#09122C
}

.app{
    color: aliceblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900px;
    font-size: 100px;
}
.para{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: aliceblue;
    font-weight: 300px;
    width: 900px;
    margin-left: 340px;
    font-size: 25px;
}
.box{
    display: flex;
    gap: 89px;
    margin-left: 430px;
    margin-top: 70px;
}
@keyframes animate {
    from{rotate: 0deg;}
    to{rotate: 360deg;}
}
.box1{
    border: 2px solid #872341;
    height: 200px;
    width: 200px;
    background-color:#872341;
    animation: animate 10s linear infinite ;
    border-radius: 20%;
}
.box2{
    border: 2px solid  #BE3144;
    height: 200px;
    width: 200px;
    background-color:  #BE3144;
    animation: animate 10s linear infinite ;
    border-radius: 20%;
}
.box3{
    border: 2px solid #E17564;
    height: 200px;
    width: 200px;
    background-color:#E17564;
    animation: animate 10s linear infinite ;
    border-radius: 20%;
}
